Package: mauricio-wallpapers 
Version: 0.0.9
Architecture: all
Maintainer: Mauricio Luis de Medeiros <jesusmlmph@gmail.com>
Installed-Size: 401394
Section: x11
Priority: optional
Description: Nature and cities landscape handpicked by Mauricio Luis de Medeiros
